* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(235, 233, 233);
  font-family: 'Lato', sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  background-color: #7066e0;
  color: white;
  height: 100px;
  align-items: center;
  font-size: 1.5em;
}

main {
  text-align: center;
  background-color: white;
  min-height: 100px;
  margin: 50px auto;
  width: 50%;
  padding: 25px;
  border-radius: 25px;
  font-size: 2em;
}

h1 {
  padding-bottom: 35px;
  color: #7066e0;
  font-family: 'Lato', sans-serif;
}

button {
  background-color: #7066e0;
  padding: 10px;
  font-size: 1em;
  border-radius: 50%;
  cursor: pointer;
}

input {
  height: 50px;
  width: 50%;
  border: 2px solid #7066e0;
  font-size: 1em;
}

ul {
  margin-top: 35px;
}

li {
  list-style-type: none;
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}